caribou*.jar
.lein-failures
.lein-deps-sum
.DS_Store

/classes/
/lib/
/nginx/
/target

/caribou-core
/caribou-api
/caribou-frontend
/caribou-admin
/lein-caribou
/caribou-docs
/caribou-template
/caribou-development
